<footer class="footer">
  <small>
    <a href="http://yogen.herokuapp.com">Yogen</a>
    by Edwin Warner and Levi Wadley
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>